
    @*Start of Body*@
    <section>
        <center>
            <div class="bg-warning m-2 p-5 w-75">
                <h1>welcome to Privacy Page</h1>
                <p>Route Academy</p>
            </div>
        </center>
    </section>
    @*End of Body*@
